<div class="container mt-4">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-info">
          <h4 class="alert-heading">Admin Dashboard</h4>
          <p>This feature is coming soon. As a moderator, you will be able to:</p>
          <ul>
            <li>View and manage all events</li>
            <li>Approve or reject event submissions</li>
            <li>Manage user accounts</li>
            <li>Access system statistics</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  